.services-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer;
  width: 80%;
  max-width: 350px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.services-format h2 {
  font-size: 38px;
  font-weight: 800;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.services-format p {
  color: #d4d4d4;
  font-size: 17px;
  line-height: 20px;
  max-width: 300px;
  text-align: center;
}

.services-readmore {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.services-readmore p {
  font-size: 20px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel .control-arrow {
  background: rgba(0, 0, 0, 0.5);
  width: 60px;
  height: 60px;
}

.carousel .control-prev.control-arrow {
  left: 20px;
}

.carousel .control-next.control-arrow {
  right: 20px; 
}

@media (max-width: 320px) {
  .services-format {
    border: 2px solid #b923e1;
    width: 60%; 
    max-width: 300px;
  }

  .carousel-root {
    margin-top: 5rem;
  }
}
