.container {
    min-height: 100vh;
    width: 100%;
    background-color: #485461;
    background-image: linear-gradient(135deg, #485461 0%, #28313b 74%);
    overflow-x: hidden;
    transform-style: preserve-3d;
  }

  section {
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    background: url("../../assets/bg.jpg") no-repeat top center / cover;
    position: relative;
  
  }

  .about-title{
    font-size: 2.7rem;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
  }

  /* media screens */
  @media (max-width: 1024px) {
    .inner p{
      margin-top: 3rem;
      font-size: 1rem;
    }
  }

  @media (max-width: 425px) {
    .inner p{
      margin-top: 3rem;
      font-size: 0.85rem;
    }
  }

  @media (max-width: 375px) {
    .inner p{
      margin-top: 3rem;
      font-size: 0.75rem;
    }
  }

  @media (max-width: 320px) {
    .inner p{
      margin-top: 3rem;
      font-size: 0.73rem;
    }
  }


 

 
  
  