header {
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  background: url("../../assets/bg.jpg") no-repeat top center / cover;
  position: relative;
}

.home-title {
  font-size: 2.7rem;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.inner .content {
  font-size: 1.2rem;
}

.icon {
  margin-left: 2rem;
  margin-top: 1.2rem;
  display: inline-flex;
  width: 40px;
  height: 40px;
  background: transparent;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 20px;
  transition: 0.5s;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

  /* media screens */
  @media (max-width: 1024px) {
    .home-title{
      margin-bottom: -2rem;
    }
    .inner .content{
      font-size: large;
    }
  }

  @media (max-width: 425px) {
   .home-title{
    font-size: 2.5rem;
   }
  }

  @media (max-width: 375px) {
   .home-title{
    font-size: 2.1rem;
   }
  }

  @media (max-width: 320px) {
    .home-title{
      font-size: 1.7rem;
    }
  }
